<div class="navbar-wagon">
  <!-- Logo -->
  <div>
    <%= link_to(root_path) do %>
      <i class="icon fa fa-glass fa-2x" aria-hidden="true"></i>
    <% end %>

  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Add new cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <div class="navbar-wagon-item">
      <!-- <div class="dropdown">
        <img src="" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Add new cocktail</a></li>
        </ul>
      </div> -->
    </div>
  </div>

</div>
